{% extends 'food/base.html' %}
{% load widget_tweaks %}


{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4 offset-md-4 mt-3'>
            <div class='card'>
                <div class='card-header text-white bg-info'>
                    <div class='card-title'>
                        Register
                    </div>
                </div>  
                    <div class='card-body'>
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class='form-group w-100 mb-3' >
                                    <span class='form-label '>{{field.name}}</span>
                                    <br class='mt-1' />
                                    {{ field|add_class:"form-control" }}
                                </div>
                            {% endfor %}
                            <button class="btn bg-info mt-2 float-end" type='submit'>Signup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

